<launch>
  <!-- General arguments -->
  <arg name="param_file"
       default="$(find wavemap_ros)/config/wavemap_server.yaml"
       doc="Name of the file from which to read wavemap's server params."/>
  <arg name="debug_mode"
       default="false"
       doc="Run the mapper in a debugger (gdb)."/>
  <arg name="show_rviz"
       default="true"
       doc="Automatically launch Rviz."/>
  <arg name="rviz_config"
       default="$(find wavemap_ros)/config/rviz/default.rviz"/>

  <!-- Dataset params -->
  <arg name="rosbag_path"
       default=""
       doc="Replay the rosbag at the specified path. Can be left blank."/>
  <!-- NOTE: Relative paths will be resolved w.r.t. ROS_HOME (default ~/.ros) -->
  <arg name="rosbag_skip_first_n_sec"
       default="0"
       doc="Skip the first n seconds of the rosbag."/>

  <!-- Play the rosbag if a path was specified -->
  <group unless="$(eval arg('rosbag_path') == '')">
    <param name="/use_sim_time" value="true"/>
    <node name="player" pkg="rosbag" type="play" output="screen"
          args="-r 1.0 -s $(arg rosbag_skip_first_n_sec) -q --clock $(arg rosbag_path)"/>
  </group>

  <!-- Run the wavemap server -->
  <group>
    <arg if="$(arg debug_mode)" name="launch_prefix"
         value="gdb -ex run --args"/>
    <arg unless="$(arg debug_mode)" name="launch_prefix" value=""/>

    <node name="wavemap" pkg="wavemap_ros"
          type="wavemap_server_node"
          output="screen"
          launch-prefix="$(arg launch_prefix)">
      <rosparam file="$(arg param_file)"/>
    </node>
  </group>

  <!-- Show Rviz -->
  <group if="$(arg show_rviz)">
    <node pkg="rviz" type="rviz" name="$(anon rviz)" output="screen"
          args="-d $(arg rviz_file)"/>
  </group>
</launch>
