<?xml version="1.0"?>
<model>
  <name>Simple 2D laser</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Victor Reijgwart</name>
    <email>victor.reijgwart@ethz-asl.ch</email>
  </author>

  <description>
    A simple 2D laser, based on Gazebo's Hokuyo model and plugin, to collect
    datasets to evaluate wavemap_2d.
  </description>
</model>
