<?xml version="1.0"?>
<model>
  <name>Simple Robot</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Victor Reijgwart</name>
    <email>victor.reijgwart@ethz-asl.ch</email>
  </author>

  <description>A simple robot to collect 2D laser datasets.</description>
</model>
