<launch>
  <!-- Wavemap params -->
  <arg name="param_file"
       default="$(find wavemap_ros)/config/azure_kinect.yaml"
       doc="Name of the file from which to read wavemap's server params."/>

  <!-- Run the Kinect driver -->
  <node pkg="nodelet" type="nodelet" name="manager" args="manager">
    <param name="num_worker_threads" value="4" />
  </node>
  <node pkg="nodelet" type="nodelet" name="k4a_ros_bridge"
        args="load Azure_Kinect_ROS_Driver/K4AROSBridgeNodelet manager --no-bond"
        respawn="true">
    <param name="depth_enabled" value="true"/>
    <param name="depth_mode" value="NFOV_UNBINNED"/>
    <param name="color_enabled" value="false"/>
    <param name="fps" value="5"/>
    <param name="point_cloud" value="false"/>
    <param name="rgb_point_cloud" value="false"/>
    <param name="required" value="true"/>
    <param name="imu_rate_target" value="100"/>
  </node>

  <!-- Run the Livox driver -->
  <arg name="bd_list" default="100000000000000"/>
  <param name="xfer_format" value="1"/>
  <param name="publish_freq" type="double" value="10.0"/>
  <param name="multi_topic" value="0"/>
  <param name="data_src" value="0"/>
  <param name="output_data_type" value="0"/>
  <param name="cmdline_str" type="string" value="$(arg bd_list)"/>
  <param name="user_config_path" type="string"
         value="$(find wavemap_ros)/config/sensor_configs/MID360_config.json"/>
  <param name="frame_id" type="string" value="livox_frame"/>
  <node name="livox_lidar_publisher2" pkg="livox_ros_driver2"
        type="livox_ros_driver2_node" required="true"
        output="screen" args="$(arg bd_list)"/>

  <!-- Undistort the Kinect's depth images -->
  <node pkg="nodelet" type="nodelet" name="rectify_depth"
        args="load image_proc/rectify manager --no-bond"
        respawn="true">
    <remap from="image_mono" to="depth/image_raw"/>
    <remap from="image_rect" to="depth/image_rect"/>
    <param name="interpolation" value="0"/>
  </node>

  <!-- Run odometry -->
  <rosparam command="load"
            file="$(find wavemap_ros)/config/other_packages/fast_lio_livox_mid360.yaml"/>
  <param name="feature_extract_enable" type="bool" value="0"/>
  <param name="point_filter_num" type="int" value="1"/>
  <param name="max_iteration" type="int" value="3"/>
  <param name="filter_size_surf" type="double" value="0.25"/>
  <param name="filter_size_map" type="double" value="0.25"/>
  <param name="cube_side_length" type="double" value="500"/>
  <param name="runtime_pos_log_enable" type="bool" value="0"/>
  <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping"
        output="screen"/>

  <!-- Show the Kinect URDF in Rviz -->
  <param name="robot_description"
         command="xacro $(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="state_publisher"/>

  <!-- Link TF frames -->
  <node pkg="tf"
        type="static_transform_publisher"
        name="link_odom_camera_init"
        args="0.0 0.0 0.0 0.0 0.0 0.0 1.000
            odom camera_init 100"/>
  <node pkg="tf"
        type="static_transform_publisher"
        name="link_body_livox_frame"
        args="-0.0110 -0.02329 0.04412 0.0 0.0 0.0 1.000
            imu_forward_prop livox_frame 100"/>
  <node pkg="tf"
        type="static_transform_publisher"
        name="link_body_kinect_frame"
        args="0.04 0.0 -0.01 0.0 0.0 0.0 1.000
            imu_forward_prop camera_base 100"/>

  <!-- Run wavemap -->
  <include file="$(find wavemap_ros)/launch/wavemap_server.launch"
           pass_all_args="true"/>
</launch>
