name: Continuous Integration

on:
  push:
    branches: [ $default-branch, develop ]
  pull_request:

# NOTE: We do not store the work files under $HOME ("/github/home/") since that
#       dir persists between jobs when using self-hosted GitHub Actions runners
#       (/github/home is a docker volume mapped to the container's host).
env:
  REPOSITORY_NAME: wavemap_2d
  DOCKER_REGISTRY: nikola.vwire.ch:29139
  DOCKER_TARGET: workspace-built-deps
  ROS_HOME: /home/ci/.ros
  CATKIN_WS_PATH: /home/ci/catkin_ws
  CCACHE_DIR: /home/ci/ccache
  PRE_COMMIT_DIR: /home/ci/pre-commit

jobs:
  workspace-container:
    name: Setup workspace container
    runs-on: self-hosted
    container:
      image: docker:20.10.9-dind
    outputs:
      image: ${{ env.DOCKER_REGISTRY }}/${{ env.REPOSITORY_NAME }}:${{ env.DOCKER_TARGET }}-${{ github.sha }}
    steps:
      - name: Fetch the package's repository
        uses: actions/checkout@v2
        with:
          path: ${{ env.REPOSITORY_NAME }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Pull in ccache to accelerate the build
        uses: actions/cache@v2
        with:
          path: ccache
          key: ccache-noetic-gcc-docker

      - name: Make sure a ccache directory exists
        run: mkdir -p ccache

      - name: Measure the build time
        id: start-time
        run: |
          stamp=$(date +%s)
          echo "::set-output name=stamp::${stamp}"

      - name: Build the ${{ env.DOCKER_TARGET }} image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ env.REPOSITORY_NAME }}/.github/Dockerfile
          target: ${{ env.DOCKER_TARGET }}
          build-args: |
            FROM_IMAGE=ros:noetic-ros-base-focal
            CATKIN_WS_PATH=${{ env.CATKIN_WS_PATH }}
            CCACHE_DIR=${{ env.CCACHE_DIR }}
            ROS_HOME=${{ env.ROS_HOME }}
            REPOSITORY_NAME=${{ env.REPOSITORY_NAME }}
            PACKAGE_NAME=wavemap_2d
          load: true
          cache-from: type=registry,ref=${{ env.DOCKER_REGISTRY }}/${{ env.REPOSITORY_NAME }}:buildcache
          cache-to: type=registry,ref=${{ env.DOCKER_REGISTRY }}/${{ env.REPOSITORY_NAME }}:buildcache,mode=max
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.REPOSITORY_NAME }}:${{ env.DOCKER_TARGET }}-${{ github.sha }}

      - name: Determine whether the ccache cache should be updated
        id: should-writeback-ccache
        run: |
          runtime=$(( $(date +%s) - ${{ steps.start-time.outputs.stamp }} ))
          echo $runtime
          answer=false
          if [ 180 -le $runtime ]; then
            answer=true
          fi
          echo "::set-output name=answer::${answer}"

      - name: Test the ${{ env.DOCKER_TARGET }} image
        run: docker run --rm ${{ env.DOCKER_REGISTRY }}/${{ env.REPOSITORY_NAME }}:${{ env.DOCKER_TARGET }}-${{ github.sha }}

      - name: Push the ${{ env.DOCKER_TARGET }} image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ env.REPOSITORY_NAME }}/.github/Dockerfile
          target: ${{ env.DOCKER_TARGET }}
          build-args: |
            FROM_IMAGE=ros:noetic-ros-base-focal
            CATKIN_WS_PATH=${{ env.CATKIN_WS_PATH }}
            CCACHE_DIR=${{ env.CCACHE_DIR }}
            ROS_HOME=${{ env.ROS_HOME }}
            REPOSITORY_NAME=${{ env.REPOSITORY_NAME }}
            PACKAGE_NAME=wavemap_2d
          push: true
          cache-from: type=registry,ref=${{ env.DOCKER_REGISTRY }}/${{ env.REPOSITORY_NAME }}:buildcache
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.REPOSITORY_NAME }}:${{ env.DOCKER_TARGET }}-${{ github.sha }}

      - name: Write back the build's ccache cache
        if: steps.should-writeback-ccache.outputs.answer == 'true'
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ${{ env.REPOSITORY_NAME }}/.github/Dockerfile
          target: workspace-deps-builder-ccache-extractor
          build-args: |
            FROM_IMAGE=ros:noetic-ros-base-focal
            CATKIN_WS_PATH=${{ env.CATKIN_WS_PATH }}
            CCACHE_DIR=${{ env.CCACHE_DIR }}
            ROS_HOME=${{ env.ROS_HOME }}
            REPOSITORY_NAME=${{ env.REPOSITORY_NAME }}
            PACKAGE_NAME=wavemap_2d
          cache-from: type=registry,ref=${{ env.DOCKER_REGISTRY }}/${{ env.REPOSITORY_NAME }}:buildcache
          tags: ${{ env.DOCKER_REGISTRY }}/${{ env.REPOSITORY_NAME }}:${{ env.DOCKER_TARGET }}-${{ github.sha }}
          outputs: type=local,dest=ccache

  pre-commit:
    name: Lint
    runs-on: self-hosted
    container:
      image: ros:noetic-ros-base-focal
    steps:
      - name: Install pre-commit's dependencies
        run: |
          apt-get update
          apt-get install -q -y git python3-pip clang-format cppcheck libxml2-utils
          pip3 install pre-commit cpplint

      - name: Fetch the package's repository
        uses: actions/checkout@v2
        # NOTE: This has to be done after installing pre-commit, s.t. the
        #       pre-commit hooks are automatically initialized.

      - name: Get python version for pre-commit cache
        run: echo "PRE_COMMIT_PYTHON_VERSION=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Setup pre-commit cache sharing
        uses: actions/cache@v2
        with:
          path: ${{ env.PRE_COMMIT_DIR }}
          key: pre-commit|${{ env.PRE_COMMIT_PYTHON_VERSION }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Run the pre-commit hooks
        run: |
          echo "::add-matcher::./.github/problem-matchers/pre-commit.json"
          export PRE_COMMIT_HOME=${{ env.PRE_COMMIT_DIR }}
          pre-commit run --all-files
          echo "::remove-matcher owner=problem-matcher-pre-commit::"

  build:
    name: Build
    needs: workspace-container
    runs-on: self-hosted
    container:
      image: ${{ needs.workspace-container.outputs.image }}
    steps:
      - name: Fetch the package's repository
        uses: actions/checkout@v2
        # NOTE: Even though the repo is already present in the container, we
        #       also need to check it out at GitHub Actions' preferred location
        #       for private actions and problem matchers to work.

      - name: Setup ccache
        uses: ./.github/actions/setup-ccache
        with:
          cache-key: noetic-gcc-release-${{ secrets.CCACHE_CACHE_VERSION }}

      - name: Build wavemap_2d
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: |
          echo "::add-matcher::./.github/problem-matchers/gcc.json"
          catkin build wavemap_2d --no-status --force-color --no-deps
          echo "::remove-matcher owner=problem-matcher-gcc::"

      - name: Build wavemap_2d_ground_truth
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: |
          echo "::add-matcher::./.github/problem-matchers/gcc.json"
          catkin build wavemap_2d_ground_truth --no-status --force-color
          echo "::remove-matcher owner=problem-matcher-gcc::"

      - name: Show statistics for ccache
        uses: ./.github/actions/log-ccache-stats

  clang-tidy:
    name: Clang tidy
    needs: [ workspace-container, build ]
    runs-on: self-hosted
    container:
      image: ${{ needs.workspace-container.outputs.image }}
    steps:
      - name: Fetch the package's repository
        uses: actions/checkout@v2
        # NOTE: Even though the repo is already present in the container, we
        #       also need to check it out at GitHub Actions' preferred location
        #       for private actions and problem matchers to work.

      - name: Setup ccache
        uses: ./.github/actions/setup-ccache
        with:
          cache-key: noetic-gcc-release-${{ secrets.CCACHE_CACHE_VERSION }}

      - name: Install clang-tidy
        run: |
          apt-get update
          apt-get install -y clang-tidy

      - name: Build catkin package and dependencies
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: catkin build wavemap_2d wavemap_2d_ground_truth --no-status --force-color --cmake-args -DUSE_CLANG_TIDY=ON

      - name: Run clang-tidy for wavemap_2d
        working-directory: ${{ env.CATKIN_WS_PATH }}/build/wavemap_2d
        run: |
          echo "::add-matcher::./.github/problem-matchers/clang-tidy.json"
          run-clang-tidy -header-filter="*include/wavemap_2d/*" -quiet
          echo "::remove-matcher owner=problem-matcher-clang-tidy::"

      - name: Run clang-tidy for wavemap_2d_ground_truth
        working-directory: ${{ env.CATKIN_WS_PATH }}/build/wavemap_2d_ground_truth
        run: |
          echo "::add-matcher::./.github/problem-matchers/clang-tidy.json"
          run-clang-tidy -header-filter="*include/wavemap_2d_ground_truth/*" -quiet
          echo "::remove-matcher owner=problem-matcher-clang-tidy::"

  test:
    name: Test
    needs: [ workspace-container, build ]
    runs-on: self-hosted
    container:
      image: ${{ needs.workspace-container.outputs.image }}
    steps:
      - name: Fetch the package's repository
        uses: actions/checkout@v2
        # NOTE: Even though the repo is already present in the container, we
        #       also need to check it out at GitHub Actions' preferred location
        #       for private actions and problem matchers to work.

      - name: Setup ccache
        uses: ./.github/actions/setup-ccache
        with:
          cache-key: noetic-gcc-release-${{ secrets.CCACHE_CACHE_VERSION }}

      - name: Build unit tests
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: |
          echo "::add-matcher::./.github/problem-matchers/gcc.json"
          catkin build wavemap_2d --no-status --force-color --no-deps --verbose --catkin-make-args tests
          echo "::remove-matcher owner=problem-matcher-gcc::"

      - name: Run unit tests
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: |
          all_tests_passed=1
          for f in devel/lib/wavemap_2d/test_*
            do $f --gtest_color=yes || all_tests_passed=0
          done
          if [ $all_tests_passed -ne 1 ]; then
            echo "Not all tests passed!"
            exit 1
          fi

      - name: Show statistics for ccache
        uses: ./.github/actions/log-ccache-stats

  coverage:
    name: Coverage
    needs: [ workspace-container, test ]
    runs-on: self-hosted
    container:
      image: ${{ needs.workspace-container.outputs.image }}
    steps:
      - name: Fetch the package's repository
        uses: actions/checkout@v2
        # NOTE: Even though the repo is already present in the container, we
        #       also need to check it out at GitHub Actions' preferred location
        #       for private actions and problem matchers to work.

      - name: Setup ccache
        uses: ./.github/actions/setup-ccache
        with:
          cache-key: noetic-gcc-debug-${{ secrets.CCACHE_CACHE_VERSION }}

      - name: Switch catkin workspace to debug mode
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: |
          catkin clean -y
          catkin config --cmake-args -DCMAKE_BUILD_TYPE=Debug

      - name: Build catkin package dependencies (in debug mode)
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: |
          source /opt/ros/noetic/setup.bash
          catkin build --no-status --force-color $(catkin list --deps --directory $(catkin locate wavemap_2d) -u | grep -oP '(?<= - ).*?(?=$)')

      - name: Build unit tests and analyze coverage (in debug mode)
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: catkin build wavemap_2d --no-status --force-color --no-deps --verbose --cmake-args -DENABLE_COVERAGE_TESTING=ON --catkin-make-args wavemap_2d_coverage_report

      - name: Upload coverage stats to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ${{ env.CATKIN_WS_PATH }}/build/wavemap_2d
          flags: unittests
          fail_ci_if_error: true
          verbose: true

      - name: Show statistics for ccache
        uses: ./.github/actions/log-ccache-stats

  sanitize:
    name: Sanitize ${{ matrix.sanitizer.detects }}
    needs: [ workspace-container, test ]
    runs-on: self-hosted
    container:
      image: ${{ needs.workspace-container.outputs.image }}
    strategy:
      matrix:
        sanitizer:
          - { name: UBSAN, detects: 'undefined behavior' }
          - { name: ASAN, detects: 'addressability and leaks' }
          - { name: TSAN, detects: 'data races and deadlocks' }
          # NOTE: MSAN is not used for now since it also requires all deps to be
          #       instrumented (recompiled with clang and the MSan flags, LLVM's
          #       stdlib instead of GCCs,...). We therefore use Valgrind to
          #       check for uninitialized memory usage errors instead.
      fail-fast: false
    steps:
      - name: Fetch the package's repository
        uses: actions/checkout@v2
        # NOTE: Even though the repo is already present in the container, we
        #       also need to check it out at GitHub Actions' preferred location
        #       for private actions and problem matchers to work.

      - name: Setup ccache
        uses: ./.github/actions/setup-ccache
        with:
          cache-key: noetic-gcc-release-${{ secrets.CCACHE_CACHE_VERSION }}

      - name: Build unit tests
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: catkin build wavemap_2d --no-status --force-color --no-deps --verbose --cmake-args -DUSE_${{ matrix.sanitizer.name }}=ON --catkin-make-args tests

      - name: Check unit tests with ${{ matrix.sanitizer.name }}
        working-directory: ${{ env.CATKIN_WS_PATH }}
        env:
          UBSAN_OPTIONS: halt_on_error=1:print_stacktrace=1
          ASAN_OPTIONS: halt_on_error=1:detect_leaks=1:detect_stack_use_after_return=1
          TSAN_OPTIONS: halt_on_error=1
        shell: bash
        run: |
          echo "::add-matcher::./.github/problem-matchers/gcc-sanitizers.json"
          all_tests_passed=1
          for f in devel/lib/wavemap_2d/test_*
            do $f --gtest_color=yes || all_tests_passed=0
          done
          if [ $all_tests_passed -ne 1 ]; then
            echo "Not all tests passed!"
            exit 1
          fi
          echo "::remove-matcher owner=problem-matcher-gcc-ubsan::"
          echo "::remove-matcher owner=problem-matcher-gcc-asan::"
          echo "::remove-matcher owner=problem-matcher-gcc-tsan::"

      - name: Show statistics for ccache
        uses: ./.github/actions/log-ccache-stats

  valgrind:
    name: Valgrind memcheck
    needs: [ workspace-container, test ]
    runs-on: self-hosted
    container:
      image: ${{ needs.workspace-container.outputs.image }}
    steps:
      - name: Fetch the package's repository
        uses: actions/checkout@v2
        # NOTE: Even though the repo is already present in the container, we
        #       also need to check it out at GitHub Actions' preferred location
        #       for private actions and problem matchers to work.

      - name: Setup ccache
        uses: ./.github/actions/setup-ccache
        with:
          cache-key: noetic-gcc-release-${{ secrets.CCACHE_CACHE_VERSION }}

      - name: Install Valgrind
        run: |
          apt-get update
          apt-get install -y valgrind

      - name: Build unit tests
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: catkin build wavemap_2d --no-status --force-color --no-deps --verbose --catkin-make-args tests

      - name: Check unit tests with Valgrind memcheck
        working-directory: ${{ env.CATKIN_WS_PATH }}
        shell: bash
        run: |
          echo "::add-matcher::./.github/problem-matchers/valgrind.json"
          all_tests_passed=1
          for f in devel/lib/wavemap_2d/test_*
            do valgrind --exit-on-first-error=yes --error-exitcode=1 --leak-check=full --errors-for-leak-kinds=definite,indirect,possible --xml=yes --xml-file=valgrind-log.xml $f --gtest_color=yes || all_tests_passed=0
            grep -Poz '(?<=<error>)(.*\n)*.*(?=</error>)' valgrind-log.xml || true
          done
          if [ $all_tests_passed -ne 1 ]; then
            echo "Not all tests passed!"
            exit 1
          fi
          echo "::remove-matcher owner=problem-matcher-valgrind::"

      - name: Show statistics for ccache
        uses: ./.github/actions/log-ccache-stats
